<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title Midtown Mechanical Corporation | Heating Air | Conditioning | Air Comfort</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="Midtown Mechanical Corporation, Midtown Mechanical Chicago, MMC, Carrier, April Aire, furnace repair, air conditioning repair, Chicago heating, hvac Chicago, hvac, heating Chicago,air condition Chicago, air condition repair Chicago, ac Chicago, furnace Chicago, furnace repair Chicago, air conditioning Chicago,gas furnace Chicago,heating residential Chicago, heating repair Chicago, ventilation Chicago, whole house vacume, heating contractor Chicago, ductwork Chicago, air condition contractor Chicago, humidifier Chicago" />
    <meta name="description" content="Midtown Mechanical Corp. (MMC) is a full-service mechanical contractor specializing in residential and commercial HVAC, furnaces, air conditioners, humidifiers, residential boilers, custom sheetmetal work and ductwork for Chicago" />
    <meta name="author" content="tosca ragnini" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/img/favicon.ico" />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Arimo:300,400,700,400italic,700italic' />
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css' />
    <link href='~/CSS/font-awesome.min.css' rel='stylesheet' type='text/css' />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type='text/css' />
    <link href="~/css/hover-dropdown-menu.css" rel="stylesheet" type='text/css' />
    <link href="~/css/revolution-slider.css" rel="stylesheet" type='text/css' />
    <link href="~/rs-plugin/css/settings.css" rel="stylesheet" type='text/css' />
    <link href="~/css/animate.min.css" rel="stylesheet" type='text/css' />
    <link href="~/css/owl/owl.carousel.css" rel="stylesheet" type='text/css' />
    <link href="~/css/owl/owl.theme.css" rel="stylesheet" type='text/css' />
    <link href="~/css/owl/owl.transitions.css" rel="stylesheet" type='text/css' />
    <link href="~/css/prettyPhoto.css" rel="stylesheet" type='text/css' />
    <link href="~/css/style.css" rel="stylesheet" type='text/css' />
    <link href="~/css/responsive.css" rel="stylesheet" type='text/css' />
    <link href="~/css/color.css" rel="stylesheet" type='text/css' />

    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="page">
        <div id="home">
            <div id="top-bar" class="top-bar-section top-bar-bg-color">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="top-contact link-hover-color">
                                <a href="tel:7737228145" class="lr-pad-20">
                                    <i class="fa fa-phone"></i> 773-722-8145
                                </a>
                            <!--   <a href="mailto:mmc4533@gmail.com" class="lr-pad-20">
                                    <i class="fa fa-envelope"></i> mmc4533@gmail.com
                                </a>--> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <header id="sticker" class="sticky-navigation">
            <div class="sticky-menu relative">
                <div class="navbar navbar-default navbar-bg-light" role="navigation">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand img-responsive" href="~/#home">
                                        <img class="site_logo img-responsive" alt="MMC Logo" width="120" height="42" src="~/img/MMC-logo.jpg" />
                                    </a>
                                </div>
                                <div class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav page-links">
                                        <li>
                                            <a href="~/#about-us">About</a>
                                        </li>
                                        <li>
                                            <a href="~/#cooling">Cooling</a>                                            
                                        </li>
                                        <li>
                                            <a href="~/#heating">Heating</a>
                                        </li>
                                        <li>
                                            <a href="~/#projects">Projects</a>
                                        </li>
                                        <li>
                                            <a href="~/#service">Service</a>
                                        </li>

                                        <li>
                                            <a href="~/#contact">Contact</a>
                                        </li>
                                      
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section class="slider">
            <div class="tp-banner">
                <ul>
                    <li data-delay="9000" data-transition="fade" data-slotamount="7" data-masterspeed="2000">
                        <div class="elements">
                            <div class="tp-caption lft skewtotop title white" data-x="375" data-y="51" data-speed="1000" data-start="1700" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn">
                                <img src="~/img/MMCheating.png" width="780" height="60" alt="MMC - Heating, Air Conditioning & Air Comfort Specialists" />
                            </div>
                            <div class="tp-caption lft skewtotop title" data-x="472" data-y="411" data-speed="1000" data-start="1900" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn">
                                <img src="~/img/total-team.png" width="780" height="60" alt="MMC - Your Total Indoor Comfort Team" />
                            </div>
                            <div class="tp-caption lfb" data-x="70" data-y="220" data-speed="1000" data-start="2540" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" style="z-index: 4">
                                <img src="~/img/servicevisit.jpg" width="400" height="400" alt="Spring Air Conditioning Maintenance" />
                            </div>
                            <div class="tp-caption lfr" data-x="70" data-y="220" data-speed="1000" data-start="6800" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" data-end="3800" style="z-index: 4">
                                <img src="~/img/4533Lex2.jpg" width="400" height="400" alt="Spring Air Conditioning Maintenance" />
                            </div>
                            <div class="tp-caption lft" data-x="70" data-y="220" data-speed="1000" data-start="9000" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" data-end="3800" style="z-index: 4">
                                <img src="~/img/greentruck.jpg" width="400" height="400" alt="Spring Air Conditioning Maintenance" />
                            </div>
                            <div class="tp-caption lfb" data-x="70" data-y="220" data-speed="1000" data-start="12000" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" data-end="3800" style="z-index: 4">
                                <img src="~/img/mmctruck.jpg" width="400" height="400" alt="Spring Air Conditioning Maintenance" />
                            </div>
                            <div>
                                <a href="~/#contact" class="tp-caption lfb btn btn-info" data-x="100" data-y="552" data-speed="1000" data-start="2840" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn"><h6 class="white">Contact us to Schedule Service</h6></a>
                            </div>
                        </div>
                        <img src="~/img/water-chgo.jpg" alt="Chicago Waterfront" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" />
                    </li>
                </ul>
                <div class="tp-bannertimer"></div>
            </div>
        </section>

 @RenderBody()
   
        <hr />
        <footer>




        <p>&copy; @DateTime.Now.Year - Midtown Mechanical Corporation</p>
        </footer>
 </div>

                                    @Scripts.Render("~/bundles/jquery")
                                    @Scripts.Render("~/bundles/bootstrap")
                                    @RenderSection("scripts", required: false)

    <script type="text/javascript" src="~/js/hover-dropdown-menu.js"></script>
    <script type="text/javascript" src="~/js/jquery.hover-dropdown-menu-addon.js"></script>
    <script type="text/javascript" src="~/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="~/js/jquery.sticky.js"></script>
    <script type="text/javascript" src="~/js/bootstrapValidator.min.js"></script>
    <script type="text/javascript" src="~/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="~/js/revolution-custom.js"></script>
    <script type="text/javascript" src="~/js/jquery.mixitup.min.js"></script> 
    <script type="text/javascript" src="~/js/jquery.appear.js"></script>
    <script type="text/javascript" src="~/js/effect.js"></script>
    <script type="text/javascript" src="~/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="~/js/jquery.parallax-1.1.3.js"></script> 
    <script type="text/javascript" src="~/js/custom.js"></script> 
    <script>
         //  jQuery('.tp-banner').css('visibility', 'visible' ).show().revolution()
    </script>
</body>
</html>
